/************** Background of options *********************/

#tempDiv div {
    background-image: url(../img/blueB.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px 100px;
    padding: 3rem 3rem;
    font-size: 3rem;
    color: WHITE;
    position: absolute;
}