/*************  CSS RESET  ********************/

* {
    padding: 0rem;
    margin: 0rem;
}

#mainpage {
    margin: 15px;
}

#gamediv {
    height: 80vh;
    width: 82%;
    border-right: solid green 2px;
}

.temDivPara {
    margin-left: 20rem;
    margin-right: 20rem;
    font-size: 36px;
    text-align: center;
    border: dotted #f0fff0;
    display: inline-block;
    background-color: #333;
    color: #fff;
    border-style: solid;
    border-color: #555555;
    padding: 1em 2em 1em 2em;
    text-decoration: none;
}


/************** color of scores, hits, Miss, age *********************/

#scorediv {
    font-size: 2.5rem;
    font-family: 'Comic Sans MS';
    font-weight: bold;
}


/******************RESPONSIVE DESIGN*********/


/************* 800 px**********************/

@media(max-width:800px) {
    .temDivPara {
        margin-left: 10rem;
        margin-right: 0rem;
        padding: 0rem;
    }
}


/************* 400 px**********************/

@media(max-width:400px) {
    .temDivPara {
        margin-left: 1rem;
        margin-right: 0rem;
        padding: 0rem;
    }
}