*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: 'Saira Stencil One', cursive;
    background-color:  rgb(185, 236, 185);
    position: relative;
}
.overlay{
    background-image: url(../img/report-background.jfif);/*ABBAS CANYOU FIX THE IMG */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    opacity: 0.4;
}
header{
    height: 15vh;
    padding: 0rem 5rem;
    font-size: 44px;
    text-align: center;
    font-weight: bold;
}
#main{
    z-index: 1;
    opacity: 0.7;
}
/******************************MAIN****************/
#container{
    border: dotted green;
    font-size: 22px;
    padding:2rem;
    height: 40vh;
    margin: 5rem;
   }


    /************  MEDIA QUERIES IPAD  ******************/
    /****************************************************/
   @media(max-width:768px){

  header{

    font-size: 32px;
       
   }
   @media(max-width:360px){
    header{
        padding-top: 2rem;
        font-size: 15px;
        padding-bottom: 0%;
    }
    #container{
        margin: 2rem;
        font-size: 15px;
    }
    #footer{
        font-size: 10px;
        padding: 9px;
    }
    
}

