*{
    margin: 0%;
    padding: 0%;
}

body{
  font-family: 'Saira Stencil One', cursive;
      background-color:#7fe18c;
}

header{
  font-size: 44px;
  text-align: center;
  font-weight: bold;
}

#main{
  padding: 5rem 25rem;
  color: #000;
}

.inLi{
  padding: 0rem 5rem;
}

div{
  padding-top: 2rem;
  font-weight: bold;
  font-size: 36px;
  padding-left: 60rem;
}

a{
    color: black;
}

 /*         MEDIA QUERY iPAD */
@media(max-width:768px){

  header{
    padding: 4rem 4rem;
  }

  #main{
    padding: 5rem 6rem;
    font-size: 26px;
  }

  .inLi{
     padding: 0rem 2rem;
  }

  div{
  padding-left: 30rem;
  }
}

 /*         MEDIA QUERY GALAXY S5 */
@media(max-width:360px){


  header{
    padding: 2rem 2rem;
    font-size: 26px;
  }

  #main{
    padding: 3rem 3rem;
    font-size: 16px;
  }

  .inLi{
     padding: 0rem 0.8rem;
  }

  div{
  padding-left: 10rem;
  }
}