/*************  CSS RESET  ********************/

* {
    padding: 0;
    margin: 0;
}


/********************   BODY  ***********************/

body {
    background-color: #7fe18c;
    font-family: 'Saira Stencil One', cursive;
}


/************main centraldiv************/

#centraldiv {
    padding: 2rem;
}


/*******************  HEADER COLOR AND FONT  *********************/

header {
    height: 20vh;
    padding: 0rem 5rem;
    display: grid;
    grid-template-columns: 1fr 20px;
    text-align: center;
}

header a {
    text-decoration: none;
    font-size: 66px;
    text-align: center;
    font-weight: bold;
}

header h4 {
    font-size: 1rem;
    color: #006400;
    text-align: center;
}

#butClick {
    width: 50px;
    height: 40px;
}

#volNoSpan {
    display: none;
}


/****************   bubble1div background(LEVEL 1 AND ADD)   **********************/

#bubble1div {
    background-color: #fff;
    border-radius: 60px 60px 30px 30px;
    padding: 0rem 0rem;
    line-height: 3rem;
    text-align: center;
}


/****************   Font color blue and pink(LEVEL 1, 2 and 3)   **********************/

.blue {
    color: #120A8F;
    font-weight: bold;
    font-size: 1.5rem;
}

.Pink {
    color: #DB4DFF;
    font-weight: bold;
    font-size: 1.5rem;
}


/****************   bubble2div background(LEVEL 2 AND ADD)   **********************/

#bubble2div {
    background-color: #fff;
    border-radius: 60px 60px 30px 30px;
    padding: 0rem 0rem;
    text-align: center;
    line-height: 3rem;
}


/****************   bubble3div background(LEVEL 3 AND ADD)   **********************/

#bubble3div {
    background-color: #fff;
    border-radius: 60px 60px 30px 30px;
    padding: 0rem 0rem;
    text-align: center;
    line-height: 3rem;
}


/****************   EXAMPLE  **********************/

.example {
    background-color: #4BB74C;
    font-weight: bold;
    text-align: center;
}

.example::before {
    color: #00611C;
    content: "example:";
    font-family: cursive;
    font-size: 1.2rem;
    text-align: center;
}


/****************   LEVEL DIV  **********************/

#main {
    vertical-align: center;
    text-align: center;
}


/*******************START-RULE DIV*********************/


/*
#_start {
    color: #F70000;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
}

#_rules {
    color: #F70000;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
    text-decoration: none;
}
*/

#startPicRule {
    margin-top: 200px;
    vertical-align: center;
    text-align: center;
}

#mainpage {
    width: 200px;
}


/************  MEDIA QUERIES IPAD  ******************/


/****************************************************/

@media(max-width:768px) {
    body {
        background-color: #ff0;
    }
    header {
        height: 20vh;
        padding: 0rem 1.5rem;
        padding-bottom: 2rem;
    }
    header a {
        font-size: 50px;
    }
    #header1 {
        display: grid;
        grid-template-columns: 1fr 35px;
    }
    /****************   LEVEL DIV  **********************/
    #leveldiv {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0rem 0.5rem;
        margin: 0rem;
    }
    #sublevel1div {
        grid-column: 1/span 1;
        margin-bottom: 1rem;
        padding: 0rem;
    }
    #sublevel2div {
        grid-column: 1/span 1;
        margin-bottom: 1rem;
        padding: 0rem;
    }
    #sublevel3div {
        grid-column: 1/span 1;
        margin-bottom: 1rem;
        padding: 0rem;
    }
}

@media(max-width:360px) {
    /************main centraldiv************/
    #centraldiv {
        padding: 0.5rem 1rem;
    }
    /*** HEADER COLOR AND FONT  ***********/
    header {
        height: 15vh;
        padding: 0.5rem;
    }
    header a {
        font-size: 26px;
    }
    #header1 {
        display: grid;
        grid-template-columns: 1fr 20px;
    }
    header h1 {
        font-size: 20px;
        text-align: center;
        font-weight: bold;
    }
    /****************   LEVEL DIV  **********************/
    #leveldiv {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0rem 0.5rem;
        margin: 0rem;
    }
    #sublevel1div {
        grid-column: 1/span 1;
        margin-bottom: 1rem;
        padding: 0rem;
    }
    #sublevel2div {
        grid-column: 1/span 1;
        margin-bottom: 1rem;
        padding: 0rem;
    }
    #sublevel3div {
        grid-column: 1/span 1;
        margin-bottom: 1rem;
        padding: 0rem;
    }
}